.achievement-box {
    width: 500px;
    height: 100px;
    display: flex;
    margin: 2px;
}
.achievement-img-box{
    width: 100px;
    height: 100px;
}
.achievement-img-box img{
    width: 100%;
    height: 100%;
}
.achievement-unlocked-image {
    border-color: black;
    border-style: solid;
    box-sizing: border-box;
    background-color: #85c1a0;
}
.achievement-text-box {
    width: 400px;
    height: 100%;
    padding-left: 10px;
    border-color: black;
    border-style: solid;
    border-left: none;
    box-sizing: border-box;
}
.achievement-text-box p {
    margin: 0px;
}
.achievement-text-box h3 {
    margin: 0px;
    margin-bottom: 6px;
}