/* File containing assorted styles used in multiple places. */

/* Class to remove the space between certain elements. */
.no-margins {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Class to outline a card or chest item that the user currently has selected. */
.selected-element {
    box-shadow: 0 0 0 2px black;
}

.selectable {
    border-spacing: 3px;
}
.selectable tr td {
    border-spacing: 3px;
    padding: 0px;
}

/* Classes to show the effects of various boons. */
.telegraph-repetition {
    border-color: blue;
}
.telegraph-repetition legend {
    border-color: blue;
}
.no-repetition {
    border-color: slategrey;
}
.no-repetition legend {
    border-color: slategrey;
}