/* File containing styles used to layer images. */

/* Pair of classes used to layer images on top of each other. */
.relative {
    left: 0px; 
    top: 0px;
    position: relative;
}
.absolute {
    left: 0px; 
    top: 0px; 
    position: absolute;
}