.no-margins {
    margin-top: 0px;
    margin-bottom: 0px;
}
.selected-element {
    box-shadow: 0 0 0 3px black;
}
.health-box {
    border-width: 3px;
    border-color:saddlebrown;
    border-style: solid;
    border-radius: 30%;
    background-color:darksalmon;
    margin-bottom: 3px;
}
.gamemap-box {
    border-width: 4px;
    border-color:gray;
    border-style: groove;
    margin-bottom: 5px;
}
.gamemap-box td {
    padding: 0px;
}
.hand-box {
    height: 120px;
    border-color: slategray;
    border-style: solid;
    display: inline-block;
    padding: 5px;
}
.hand-box legend {
    font-weight: bold;
    border-color: slategray;
    border-style: solid;
    border-width: 2px;
}
.move-button-box {
    width: 110px;
}
.move-button-box table {
    width: 100px;
    height: 100px;
    margin: auto;
}
.move-button-box table tr input {
    height: 30px;
    width: 30px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}


