/* File containing styles used by the shop screen. */

/* Styles a section of the shop.*/
.shop-section-box {
    height: fit-content;
    width: fit-content;
    border-color: slategray;
    border-style: solid;
    background-color: var(--card-box-color);
    padding: 5px;
    margin: 5px 0px 5px 0px;
}
.shop-section-box legend {
    font-weight: bold;
    background-color: var(--card-box-legend-color);
    border-color: slategray;
    border-style: solid;
    border-width: 2px;
}

.shop-width{
    width: fit-content;
}
.shop-confirm {
    height: 35px;
    width: 80px;
    margin-right: 5px;
    border-width: medium;
    border-color: darkblue;
    background-color: cadetblue;
    font-weight: bolder;
}
.shop-button-container{
    height: 120px;
    width: fit-content;
    display: inline-block;
    vertical-align: top;
}

.scrollable-text {
    overflow-y: scroll;
    overflow-x: scroll;
    text-align: left;
    height: 120px;
    width: 375px;
    padding: 5px;
    background-color: var(--text-box-background-color);
    border-color: slategrey;
    border-style: solid;
    border-width: medium;
    text-wrap: nowrap;
    display: inline-block;
}