
.message-box {
    overflow-y: scroll;
    height: 100px;
    width: 440px;
    padding: 5px;
    background-color: var(--text-box-background-color);
    border-color:rgb(128, 57, 25);
    border-style: solid;
    border-width: 4px;
    font-size: 18px;
    margin-left: 2px;
    font-family: Arial, Helvetica, sans-serif;
}
