
.center-retry-box {
    width: 140px;
    height: 140px;
    display: inline-flex;
    align-items: center;
    vertical-align: top;
}
.retry-button-box tr input {
    background-color: black;
    color: aqua;
    border-color: indigo;
    border-style: double;
    border-width: 5px;
    border-radius: 15px / 50%;
    padding: 5px 10px;
    font-weight: bold;
    font-size: large;
}
.retry-button-box tr input:hover {
    background-color: gold;
    color: blue;
    border-color: orangered;
    border-style: dotted;
    cursor: pointer;
}

