.chest-buttons {
    width: 100%;
    text-align: center;
}
.chest-buttons tr input {
    border-width: 5px;
    border-style: solid;
    border-radius: 15px / 50%;
    padding: 5px 8px;
    margin: 0px 10px;
    background-color: burlywood;
}
.chest-buttons tr input:hover {
    background-color: brown;
    color: burlywood;
}
