
.achievement-box {
    width: 600px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin: 2px;
}



.achievement-button {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
    line-height: 20px;
    font-size: 20px;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    padding: 5px;
}
.achievement-reset {
    background-color: lightcoral;
}
.achievement-reset:hover{
    background-color: maroon;
    color: lightcoral;
}
.achievement-confirm-reset {
    background-color: red;
}
.achievement-confirm-reset:hover{
    background-color: black;
    color: red;
}

.achievement-dropdown{
    display: none;
    width: 600px;
    padding-left: 15px;
    background-color: palegreen;
    border-width: 0px 3px 3px 3px;
    border-radius: 0px 0px 10px 10px ;
    border-color: black;
    border-style: solid;
}
.achievement-box-unlocked:hover .achievement-dropdown{
    display: block;
}


.achievement-dropdown h3{
    margin: 4px;
    text-align: center;
}


.achievement-dropdown img{
    background-color: white;
    width: 100px;
    height: 100px;
    margin: 5px;
}


.achievement-header {
    border: solid;
    border-radius: 20px;
    background-color: lavender;
    margin-top: 10px;
    margin-bottom: 10px;
    width: fit-content;
    height: fit-content;
    display: inline-block;
}
.achievement-header h2 {
    text-align: center;
    padding: 15px;
    margin: 0px;
}

.achievement-img-box{
    width: 100px;
    height: 100px;
}
.achievement-img-box img{
    width: 100%;
    height: 100%;
}

.achievement-locked-text {
    background-color: lightgrey;
}


.achievements-style {
    background-color: var(--achievements-background-color);
    min-height: 100%;
    min-width: 100%;
}

.achievement-section {
    border: solid;
    border-radius: 20px;
    width: fit-content;
    padding: 20px;
    padding-top: 0px;
    background-color: dimgray;
    margin: 6px;
}


.achievement-text-box {
    width: 500px;
    height: 100px;
    padding-left: 10px;
    border-color: black;
    border-style: solid;
    border-left: none;
    box-sizing: border-box;
}
.achievement-text-box p {
    margin: 0px;
}
.achievement-text-box h3 {
    margin: 0px;
    margin-bottom: 6px;
}

.achievement-unlocked-image {
    border-color: black;
    border-style: solid;
    box-sizing: border-box;
    background-color: #85c1a0;
}
.achievement-unlocked-text {
    background-color: lightblue;
}

html {
    height: 100%;
    min-width: 100%;
}
body{
    margin: 0px;
    height: 100%;
    min-width: 100%;
    width: fit-content;
    font-family: ArrowFont;
}
body>div{
    padding: 8px;
}
.control-box {
    display: flex;
    align-items: center;
    border-style: solid;
    height: 91px;
    width: 594px;
    margin: 2px;
    font-size: 20px;
    background-color: lightblue;
    margin-bottom: 4px;
}
.control-box div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 91px;
    width: 90px;
    border-right: solid;
    background-color: cadetblue;
}
.control-box p {
    margin-left: 20px;
}
.control-box div table tr input {
    min-width: 27px;
    height: 27px;
    margin-top: 1px;
    margin-left: 1px;
    font-size: 17px;
}


.control-edit-box {
    display: flex;
    align-items: center;
    border-style: solid;
    width: 600px;
    height: 50px;
    margin: 2px;
    margin-bottom: 4px;
    font-size: 20px;
    background-color: lightblue;
}
.control-edit-box div {
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: solid;
    background-color: cadetblue;
}
.control-edit-box p {
    margin-left: 10px;
}

.control-edit-box div input {
    min-width: 27px;
    height: 27px;
    font-size: 17px;
}
.control-edit-box div input:focus-visible{
    outline: none;
}
.edit-control {
    background-color: black;
    color: white;
}
.control-header {
    width: 100%;
    display: flex;
    align-items: center;
}
.control-header h2 {
    width: fit-content;
    display: inline-flex;
    margin-left: 20px;
    margin-right: auto;
    background-color: lightgrey;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 7px;
    border-style: solid;
}

.control-header input {
    display: inline-flex;
    margin-right: 20px;
    width: 70px;
    height: 30px;
    border-width: 3px;
    border-style: groove;
    border-color: blue;
    background-color: aliceblue;

}
.control-header input:hover {
    background-color: blueviolet;
    color: aliceblue
}

.control-style{
    background-color: var(--controls-background-color);
    min-height: 100%;
    min-width: 100%;
}

.control-section {
    border: solid;
    border-radius: 20px;
    width: fit-content;
    padding: 20px;
    padding-top: 0px;
    background-color: #2c7d2c;
    margin: 6px;
}


.chest-body-box {
    border-style: solid;
    border-width: 5px;
    border-color: saddlebrown;
    background-color: chocolate;
    width: 600px;
    height: fit-content
}
.chest-body-box hr {
    width: 95%;
    color: gray;
}


.chest-buttons {
    width: 100%;
    text-align: center;
}
.chest-buttons tr input {
    border-width: 5px;
    border-style: solid;
    border-radius: 15px / 50%;
    padding: 5px 8px;
    margin: 0px 10px;
    background-color: burlywood;
}
.chest-buttons tr input:hover {
    background-color: brown;
    color: burlywood;
}



.chest-contents {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.chest-contents tr td {
    width: fit-content
}
.chest-contents tr td img {
    background-color: white;
}



.chest-discription-text {
    margin: 20px 40px;
    padding: 10px;
    border-width: 3px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    background-color:burlywood;
    height: fit-content;
    min-height: 23px;
}

.chest-instruction-text {
    width: fit-content;
    text-align: center;
    margin: 15px auto 15px auto;
    padding: 3px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    background-color:burlywood;
}



.chest-lid-box {
    border-style: solid;
    border-width: 5px;
    border-radius: 850px 850px 0% 0% / 700px;
    border-color: saddlebrown;
    background-color: chocolate;
    width: 600px;
}



.deck-select-confirm {
    margin-left: 7px;
}
.game-style{
    background-color: var(--game-background-color);
    min-height: 100%;
    min-width: 100%;
}

.shop-confirm {
    height: 35px;
    width: 80px;
    margin-right: 5px;
    border-width: medium;
    border-color: darkblue;
    background-color: cadetblue;
    font-weight: bolder;
}
.shop-button-container{
    height: 120px;
    width: fit-content;
    display: inline-block;
    vertical-align: top;
}


.shop-width{
    width: fit-content;
}

.shop-section-box {
    height: fit-content;
    width: fit-content;
    border-color: slategray;
    border-style: solid;
    background-color: var(--card-box-color);
    padding: 5px;
    margin: 5px 0px 5px 0px;
}
.shop-section-box legend {
    font-weight: bold;
    background-color: var(--card-box-legend-color);
    border-color: slategray;
    border-style: solid;
    border-width: 2px;
}


.scrollable-text {
    overflow-y: scroll;
    overflow-x: scroll;
    text-align: left;
    height: 120px;
    width: 375px;
    padding: 5px;
    background-color: var(--text-box-background-color);
    border-color: slategrey;
    border-style: solid;
    border-width: medium;
    text-wrap: nowrap;
    display: inline-block;
}

.deck-box {
    display: inline-block;
    height: 50px;
    width: 50px;
    vertical-align: top;
    padding-left: 3px;
    margin-left: 8px;
    margin-right: 8px;
}
.deck-box img {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 50px;
    width: 50px;
}
.deck-box p {
    z-index: 1;
    margin: 0px;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    line-height: 45px;
    position: relative;
}


.hand-box {
    height: 120px;
    background-color: var(--card-box-color);
    border-style: solid;
    display: inline-block;
    padding: 5px;
}
.hand-box legend {
    background-color: var(--card-box-legend-color);
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
}
.hand-box table {
    border-spacing: 3px;
}
.hand-box table tr td {
    cursor: pointer;
}


.health-box {
    border-width: 3px;
    border-color:saddlebrown;
    border-style: solid;
    border-radius: 30%;
    background-color:darksalmon;
    margin-bottom: 3px;
    margin-right: 5px;
    display: inline-block;
    height: 52px;
}


.card-info {
    border: solid;
    border-radius: 100%;
    border-width: 2px;
    border-color: slategray;
    background-color: white;
    padding: 1px 6px;
    font-weight: bold;
    width: fit-content;
    float: right;
    margin-top: -20%;
    cursor: pointer;
}
.card-info:hover {
    background-color: lightgray;
}


.gamemap-box {
    background-color: white;
    border-width: 4px;
    border-color:gray;
    border-style: groove;
    margin-bottom: 5px;
    display: inline-block;
}
.gamemap-box td {
    padding: 0px;
    cursor: pointer;
}


.selected-tile {
    box-shadow: 0 0 0 1px darkslategray;
}


.message-box {
    overflow-y: scroll;
    height: 100px;
    width: 440px;
    padding: 5px;
    background-color: var(--text-box-background-color);
    border-color:rgb(128, 57, 25);
    border-style: solid;
    border-width: 4px;
    font-size: 18px;
    margin-left: 2px;
}


.move-button-box {
    width: 140px;
}
.move-button-box table {
    width: 95%;
    height: 100px;
    margin: auto;
    border-collapse: collapse;
}
.move-button-box table tr {
    height : 33%;
}
.move-button-box table tr input {
    height: 100%;
    width: 33%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    cursor: pointer;
}


.center-retry-box {
    width: 140px;
    height: 140px;
    display: inline-flex;
    align-items: center;
    vertical-align: top;
}
.retry-button-box tr input {
    background-color: black;
    color: aqua;
    border-color: indigo;
    border-style: double;
    border-width: 5px;
    border-radius: 15px / 50%;
    padding: 5px 10px;
    font-weight: bold;
    font-size: large;
}
.retry-button-box tr input:hover {
    background-color: gold;
    color: blue;
    border-color: orangered;
    border-style: dotted;
    cursor: pointer;
}



.boon-box {
    flex-flow: column;
}
.boon-box table{
    display: inline-flex;
}
.boon-box hr{
    display: inline-flex;
}


.card-container{
    padding-top: 5px;
    width: 100%;
}
.card-container tr{
    width: 100%;
}
.card-container tr td{
    display: inline-block;
    margin: 0px 0px 5px 5px;
    padding: 0px;
}


.select-second tr td:nth-child(2) img{
    box-shadow: 0 0 0 3px cyan;
}

.sidebar {
    display: inline-block;
    vertical-align: top;
    width: 260px;
    height: 350px;
    margin-left: 10px;
}


.sidebar-header {
    width: 100%;
    height: 60px;
    border: solid;
    border-radius: 15px 15px 0px 0px;
    background-color: moccasin;
    text-align:center;
}
.sidebar-header input {
    margin: 4px 6px 0px 6px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 7px;
    background-color: tan;
    border: solid;
    border-color: saddlebrown;
}
.sidebar-header input:hover {
    background-color: saddlebrown;
    color: tan;
    cursor: pointer;
}


.initiative-box {
    overflow-y: scroll;
    overflow-x: clip;
}


.initiative-element {
    height: 70px;
    background-color: lightgray;
    margin-top: 2px;
}
.initiative-element:hover {
    cursor: pointer;
    background-color: gray;
}
.initiative-element div{
    display: inline-block;
    width: fit-content;
    vertical-align: middle;
    height: 100%;
    margin: 0px 0px 0px 5px;
}
.initiative-element img{
    border-width: 2px;
    border-color: black;
    border-style: solid;
    margin: 5px;
}
.initiative-element p{
    margin-top: auto;
    margin-bottom: auto;
    line-height: 140%;
    margin: 5px;
    width: 150px;
}
.initiative-element p::first-line{
    font-weight: bolder;
}


.stun-background{
    background-color: yellow;
}


.sidebar-section {
    height: 274px;
    width: 100%;
    border: solid;
    background-color: white;
}
.sidebar-section hr{
    width: 100%;
}


.normal-log-text {
    background-color: rgb(223, 222, 222);
}
.achievement-log-text {
    background-color: mediumpurple;
}
.repeated-achievement-log-text {
    background-color: violet;
}

.scroll-down {
    vertical-align: top;
    display: inline-flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    scrollbar-color: gray lightgray;
    overflow-x: clip;
    height: 100%;
    width: 100%;
}
.scroll-down p {
    margin: 0px;
    padding: 4px;
    padding-bottom: 12px;
    padding-top: 12px;
}
.scroll-down hr {
    border-color: black;
    margin: 0px;
}



.guidebook-section h2 {
    margin-bottom: 5px;
    margin-top: 0px;
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
    font-size: 30px;
    text-decoration: underline;
}


.guidebook-section img {
    background-color: white;
}

.guidebook-section p {
    font-size: 20px;
}


.navbar {
    background-color: blue;
    padding: 8px;
    margin: 0px;
}

.navbar input{
    background-color: lightblue;
    margin-left: 5px;
    margin-right: 5px;
}

.navbar input:hover{
    background-color: darkgreen;
    color: white;
    cursor: pointer;
}


.guide-style {
    background-color: var(--guidebook-background-color);
    min-height: 100%;
    min-width: 100%;
}

.guide-box-style{
    background-color: beige;
    margin: 8px;
}
.guidebook-section {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-top: none;
    border-color: burlywood;
}


.main-header{
    background-color: sandybrown;
    padding: 5px;
    padding-left: 10px;
    margin-left: 0px;
    border-color: chocolate;
    border-bottom-style: solid;
    min-width: 100%;
}
.main-header>*{
    display: inline-block;
    vertical-align: baseline;
}
.main-header h1{
    width: 485px;
}
.main-header select{
    margin: auto;
    width: 132px;
    height: 32px;
    background-color: wheat;
    border-color: saddlebrown;
    border-width: 3px;
    border-radius: 0px;
    appearance: base-select;
}
.journal-area-screen {
    border-width: 0px 5px 5px 5px;
    border-style: solid;
    border-color: black;
    width: 840px;
    background-image: linear-gradient(white, black);
    min-height: 100%;
    min-width: 100%;
    padding-bottom: 0px;
}

.journal-area-screen>div{
    width: 840px;
    display: inline-flex;
    justify-content: center;
}

.journal-area-box {
    border-width: 5px;
    border-color: black;
    border-radius: 10px;
    border-style: solid;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    width: 404px;
    height: 384px;
    margin: 10px;
}

.journal-area-box h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    padding-left: 5px;
    padding-right: 5px;
    background-color: lightgoldenrodyellow;
}

.journal-area-box table {
    margin-top: 3px;
    margin-bottom: 3px;
    border-spacing: 4px;
    width: fit-content;
}

.journal-area-boss img {
    border-width: 4px;    
    border-style: solid;
    border-color: black;
}

.journal-area-tiles img {
    box-sizing: border-box;
    border-width: 2px;    
    border-style: solid;
    border-color: black;
}

.area0 div {
    background-color: var(--area0);
    height: fit-content;
}
.area1 div {
    background-color: var(--area1);
}
.area2 div {
    background-color: var(--area2);
}
.area3 div{
    background-color: var(--area3);
}
.area4 div {
    background-color: var(--area4);
}
.area5 div {
    background-color: var(--area5);
}
.journal-card-box {
    width: 942px;
}

.journal-info {
    position: fixed;
    left: 980px;
    border-color: saddlebrown;
    border-width: 4px;
    white-space: normal;
    width: 450px;
    height: 180px;
    overflow-x: auto;
    font-weight: 400;
}
.journal-style{
    background-color: var(--journal-background-color);
    min-height: 100%;
    min-width: 100%;
    padding-bottom: 0px;
}

:root{
    --card-box-color: white;
    --card-box-legend-color: lightblue;
    --text-box-background-color: white;
    
    --game-background-color: antiquewhite;
    --controls-background-color: antiquewhite;
    --achievements-background-color: antiquewhite;
    --guidebook-background-color: antiquewhite;
    --journal-background-color: antiquewhite;
    
    --area0: rgb(141, 207, 126);
    --area1: rgb(250, 194, 130);
    --area2: rgb(226, 175, 117);
    --area3: rgb(182, 140, 92);
    --area4: rgb(143, 111, 74);
    --area5: rgb(112, 86, 56);
}

/*https://www.1001fonts.com/quivira-font.html*/
/*Font used only for unicode arrows to ensure they display in all browsers*/
@font-face {
    font-family: "ArrowFont";
    src: url(./fonts/quivira.regular.otf);
    unicode-range: U+2B9C-2B9F;
}
.greyed-out {
    opacity: 0.7;
}

/* File containing styles used to layer images. */

/* Pair of classes used to layer images on top of each other. */
.relative {
    left: 0px; 
    top: 0px;
    position: relative;
}
.absolute {
    left: 0px; 
    top: 0px; 
    position: absolute;
}
.no-margins {
    margin-top: 0px;
    margin-bottom: 0px;
}

.opposite-sides {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.telegraph-repetition {
    border-color: blue;
}
.telegraph-repetition legend {
    border-color: blue;
}
.no-repetition {
    border-color: slategrey;
}
.no-repetition legend {
    border-color: slategrey;
}


.scroll-box {
    vertical-align: top;
    display: inline-flex;
    overflow-y: scroll;
    scrollbar-color: gray lightgray;
    overflow-x: clip;
    height: 100%;
    width: 100%;
}


.selected-element {
    box-shadow: 0 0 0 2px black;
}

.selectable {
    border-spacing: 3px;
}
.selectable tr td {
    border-spacing: 3px;
    padding: 0px;
}

.visible-section {
    display: block;
}
.hidden-section {
    display: none;
}

