.relative {
    left: 0px; 
    top: 0px;
    position: relative;
}
.absolute {
    left: 0px; 
    top: 0px; 
    position: absolute;
}

.no-margins {
    margin-top: 0px;
    margin-bottom: 0px;
}
.selected-element {
    box-shadow: 0 0 0 3px black;
}


