/* File containing styles for the chest screen. */

/* Styles the section designed to look like the lid of a chest. */
.chest-lid-box {
    border-style: solid;
    border-width: 5px;
    border-radius: 850px 850px 0% 0% / 700px;
    border-color: saddlebrown;
    background-color: chocolate;
    width: 600px;
}

/* Styles the section designed to look like the non-lid part of a chest. */
.chest-body-box {
    border-style: solid;
    border-width: 5px;
    border-color: saddlebrown;
    background-color: chocolate;
    width: 600px;
    height: fit-content
}
.chest-body-box hr {
    width: 95%;
    color: gray;
}

/* Styles the section telling the user to take up to one item from the chest. */
.chest-instruction-text {
    width: fit-content;
    text-align: center;
    margin: 15px auto 15px auto;
    padding: 3px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    background-color:burlywood;
}

/* Styles the contents of the chest that they can choose from. */
.chest-contents {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.chest-contents tr td {
    width: fit-content
}
.chest-contents tr td img {
    background-color: white;
}

/* Styles the buttons that let them take something or leave everything. */
.chest-buttons {
    width: 100%;
    text-align: center;
}
.chest-buttons tr input {
    border-width: 5px;
    border-style: solid;
    border-radius: 15px / 50%;
    padding: 5px 8px;
    margin: 0px 10px;
    background-color: burlywood;
}
.chest-buttons tr input:hover {
    background-color: brown;
    color: burlywood;
}

/* Styles the description of the currently selected item. */
.chest-discription-text {
    margin: 20px 40px;
    padding: 10px;
    border-width: 3px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    background-color:burlywood;
    height: fit-content;
    min-height: 23px;
}
/* File containing assorted styles used in multiple places. */

/* Class to remove the space between certain elements. */
.no-margins {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Class to outline a card or chest item that the user currently has selected. */
.selected-element {
    box-shadow: 0 0 0 2px black;
}

.selectable {
    border-spacing: 3px;
}
.selectable tr td{
    border-spacing: 3px;
    padding: 0px;
}
/* File containing styles used by the guidebook screen. */

/* Styles a whole section of the guidebook. */
.guide-style {
    padding-left: 20px;
    /*
    border-left-style: ridge;
    border-left-width: 30px;
    border-radius: 10%;
    */
}

/* Styles the header of a guidebook section. */
.guidebook-section h2 {
    margin-bottom: 5px;
    margin-top: 10px;
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
    font-size: 30px;
    text-decoration: underline;
}

/* Styles the body of a guidebook section. */
.guidebook-section p {
    font-size: 20px;
}
/* File containing styles used to layer images. */

/* Pair of classes used to layer images on top of each other. */
.relative {
    left: 0px; 
    top: 0px;
    position: relative;
}
.absolute {
    left: 0px; 
    top: 0px; 
    position: absolute;
}
/* File containing styles used by the shop screen. */

/* Styles a section of the shop.*/
.shop-section-box {
    height: fit-content;
    width: fit-content;
    border-color: slategray;
    border-style: solid;
    padding: 5px;
    margin-top: 5px;
}
.shop-section-box legend {
    font-weight: bold;
    border-color: slategray;
    border-style: solid;
    border-width: 2px;
}

/* File containing styles used by the shop screen. */

/* Styles the game map. */
.gamemap-box {
    border-width: 4px;
    border-color:gray;
    border-style: groove;
    margin-bottom: 5px;
}
.gamemap-box td {
    padding: 0px;
    cursor: pointer;
}


/* Styles the display of the player's health. */
.health-box {
    border-width: 3px;
    border-color:saddlebrown;
    border-style: solid;
    border-radius: 30%;
    background-color:darksalmon;
    margin-bottom: 3px;
    margin-right: 5px;
    display: inline-block;
}

/* Styles the display of the number of cards remaining in the player's deck. */
.deck-box {
    display: inline-block;
    height: 50px;
    width: 50px;
    vertical-align: top;
}
.deck-box img {
    z-index: -1;
    position: absolute;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
}
.deck-box p {
    margin: 0px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
}


/* Styles the player's hand. */
.hand-box {
    height: 120px;
    border-color: slategray;
    border-style: solid;
    display: inline-block;
    padding: 5px;
}
.hand-box legend {
    font-weight: bold;
    border-color: slategray;
    border-style: solid;
    border-width: 2px;
}
.hand-box table {
    border-spacing: 3px;
}
.hand-box table tr td {
    cursor: pointer;
}

/* Styles the box for the move buttons that appear when you click a card. */
.move-button-box {
    width: 140px;
}
.move-button-box table {
    width: 95%;
    height: 100px;
    margin: auto;
    border-collapse: collapse;
}
.move-button-box table tr {
    height : 33%;
}
.move-button-box table tr input {
    height: 100%;
    width: 33%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    cursor: pointer;
}
.card-info {
    border: solid;
    border-radius: 100%;
    border-width: 2px;
    border-color: slategray;
    background-color: white;
    padding: 1px 6px;
    font-weight: bold;
    width: fit-content;
    float: right;
    margin-top: -20%;
    cursor: pointer;
}
.card-info:hover {
    background-color: lightgray;
}

/* Styles the button that lets you restart after dying. */
.retry-button-box tr input {
    background-color: black;
    color: aqua;
    border-color: indigo;
    border-style: double;
    border-width: 5px;
    border-radius: 15px / 50%;
    padding: 5px 10px;
    font-weight: bold;
}
.retry-button-box tr input:hover {
    background-color: gold;
    color: blue;
    border-color: orangered;
    border-style: dotted;
}

