:root {
    --card-box-color: white;
    --card-box-legend-color: lightblue;
    --text-box-background-color: white;
    
    --game-background-color: antiquewhite;
    --controls-background-color: antiquewhite;
    --achievements-background-color: antiquewhite;
    --guidebook-background-color: antiquewhite;
    --journal-background-color: antiquewhite;
    
    --area0: rgb(141, 207, 126);
    --area1: rgb(250, 194, 130);
    --area2: rgb(226, 175, 117);
    --area3: rgb(182, 140, 92);
    --area4: rgb(143, 111, 74);
    --area5: rgb(112, 86, 56);
}