.telegraph-repetition {
    border-color: blue;
}
.telegraph-repetition legend {
    border-color: blue;
}
.no-repetition {
    border-color: slategrey;
}
.no-repetition legend {
    border-color: slategrey;
}