.main-header{
    background-color: sandybrown;
    padding: 5px;
    padding-left: 10px;
    margin-left: 0px;
    border-color: chocolate;
    border-bottom-style: solid;
    min-width: 100%;
}
.header-box{
    display: inline-flex;
    justify-content: space-between;
    width: 620px;
}
.main-header select{
    width: 132px;
    height: 32px;
    background-color: wheat;
    border-color: saddlebrown;
    border-width: 3px;
    border-radius: 0px;
    appearance: base-select;
    margin-top: auto;
    margin-bottom: auto;
}

.header-pic {
    height: 40px;
    width: 300px;
}