.guidebook-section {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-color: #45230a;
    border-width: 0px 6px 6px 6px;
    background-color: aliceblue;
    width: 956px;
}