.journal-area-screen {
    border-width: 0px 5px 5px 5px;
    border-style: solid;
    border-color: black;
    width: 840px;
    background-image: linear-gradient(white, black);
    min-height: 100%;
    padding-bottom: 0px;
}

.journal-area-screen>div {
    width: 840px;
    display: inline-flex;
    justify-content: center;
}

.journal-area-box {
    border-width: 5px;
    border-color: black;
    background-color: var(--area-color);
    border-radius: 10px;
    border-style: solid;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    width: 412px;
    height: 388px;
    margin: 10px;
}
.journal-area-box-header {
    display: inline-flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-between;
    min-width: 95%;
    width: fit-content;
}
.centered {
    justify-content: center;
}
.journal-area-counter {
    width: fit-content;
    height: 30px;
    padding-left: 3px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-color: black;
    border-width: 3px;
    border-radius: 7px;
    border-style: solid;
    background-color: lightgoldenrodyellow;
}
.journal-area-counter img {
    width: 26px;
    height: 26px;
    margin: 2px 2px 2px 0px;
}
.journal-area-counter p {
    display: inline-block;
    font-weight: bold;
    font-size: 22px;
    margin: 0px;
    line-height: 30px;
    vertical-align: top;
}

.journal-area-box h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    padding-left: 5px;
    padding-right: 5px;
    background-color: lightgoldenrodyellow;
}

.journal-area-box table {
    margin-top: 3px;
    margin-bottom: 3px;
    border-spacing: 4px;
    width: fit-content;
}

.journal-area-boss img {
    border-width: 4px;
    border-style: solid;
    border-color: black;
    cursor: pointer;
}

.journal-area-tiles img {
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    cursor: pointer;
}

.journal-area-screen .journal-info {
    left: 858px;
    margin-top: 40px;
    background-color: var(--area-color);
    border-color: black;
}

.journal-area-screen .area6 .journal-info {
    margin-top: 10px;
}

.area0 {
    --area-color: var(--area0);
}
.area1 {
    --area-color: var(--area1);
}
.area2 {
    --area-color: var(--area2);
}
.area3 {
    --area-color: var(--area3);
}
.area4 {
    --area-color: var(--area4);
}
.area5 {
    --area-color: var(--area5);
}
.area6 {
    --area-color: var(--area6);
}

.area0>div, .area6>div {
    height: fit-content;
}