.journal-card-box {
    width: 942px;
}
.journal-card-box td:hover {
    cursor: pointer;
}

.journal-info {
    position: fixed;
    left: 980px;
    border-color: saddlebrown;
    border-width: 4px;
    white-space: normal;
    width: 450px;
    height: 180px;
    overflow-x: auto;
    font-weight: 400;
}

@media (max-width: 1465px) {
    .journal-info {
        position: absolute;
        left: 980px;
    }
}