.stat-grid {
    display: flex;
    flex-wrap: wrap;
    width: 355px;
}

.stat-grid>div {
    margin: 5px;
}

.history-page {
    width: 604px;
    border-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.history-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history-section .stat-pair {
    width: 90px;
    height: 54px;
}

.history-section .stat-pair img {
    width: 42px;
    height: 42px;
}

.history-section .stat-pair p{
    line-height: 24px;
    font-size: 24px;
}

.history-section .shop-section-box {
    min-width: 472px;
}